/* ****************************** Variables (Custom Properties) ******************************** */
:root {
  --mainPadding: 17px;
  --mainMargin: 30px;
  --sectionMarginPadding: 70px;
  --mainColor: #e0510f;
  --secondaryColor: #013780;
  --borderRadius: 7px;
}

/* **************************************** Global Rules ***************************************** */
html {
  scroll-behavior: smooth;
  font-size: calc(15px + 0.390625vw);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  margin-bottom: 100px;
}

.container {
  padding-left: var(--mainPadding);
  padding-right: var(--mainPadding);
  margin-left: auto;
  margin-right: auto;
}

/* ****************************** Different Screen Resolutions ****************************** */
/* extra small */
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
/* small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* medium */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* large */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* extra large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* extra extra large */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* ********************************* Components *********************************** */

.user-gate {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: var(--secondaryColor);
  padding: 3px 7px;
  border-radius: var(--borderRadius);
}

/* the special heading */
h3.sp-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

h3.sp-heading > span > img {
  width: 40px;
  height: 40px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 3px;
  border-radius: 50%;
  border-top: solid 2px var(--mainColor);
  border-left: solid 2px var(--mainColor);
  border-right: solid 2px var(--secondaryColor);
  border-bottom: solid 2px var(--secondaryColor);
}
/* ********************************* header *********************************** */
header {
  height: 46.09px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 1px 7px #eee;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-basis: 20%;
}

.logo > img {
  display: block;
  /* max-width: 100%; */
  height: 40.09px;
}

.search-form {
  display: flex;
  align-items: center;
  flex-basis: 60%;
}

.iconed-input {
  position: relative;
  width: 100%;
}

i.search-icon {
  font-size: 13px;
  color: #ccc;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

input.search-field {
  width: 100%;
  border: none;
  border-radius: var(--borderRadius);
  background-color: #eee;
}

.login {
  flex-basis: 15%;
}

/* ********************************* delivery info *********************************** */
.delivery-info {
  margin-bottom: var(--mainPadding);
}
.delivery-info > .container {
  display: flex;
  gap: 7px;
  margin-top: var(--mainPadding);
}

.delivery-info p {
  margin: 0;
}

/* ********************************* Landing Section *********************************** */
.landing {
  position: relative;
}

.landing-background {
  height: 300px;
  background: linear-gradient(
    70deg,
    rgba(0, 0, 0, 0) 50%,
    var(--mainColor) 80%,
    var(--secondaryColor) 80%
  );
}

.logo-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  bottom: 0;
  left: 0;
}

.logo-overlay > .brand {
  flex-basis: 50%;
}

.logo-overlay > .slogan {
  flex-basis: 10%;
  margin-right: var(--mainPadding);
  margin-top: var(--mainMargin);
  height: fit-content;
  align-self: flex-start;
}

.logo-overlay > .slogan > h3 {
  height: 100%;
  margin: 0;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

.logo-overlay > .slogan > h3 > span {
  text-transform: uppercase;
}

.logo-overlay img {
  display: block;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

/* ********************************* dummy Section *********************************** */
/* .dummy {
  height: 30vh;
  background: tomato;
  background: linear-gradient(
    70deg,
    rgba(0, 0, 0, 0) 50%,
    var(--mainColor) 50% 80%,
    var(--secondaryColor) 80%
  );
} */

/* ********************************* Catergories Section *********************************** */
.categories > .container {
  width: 90%;
  margin: auto;
  margin-top: var(--mainMargin);
  border: solid 3px #e7bc55;
  border-radius: var(--borderRadius);
  background-color: white;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--mainPadding);
  /* position: relative;
  bottom: 50px; */
}

.categories .category {
  border-radius: 50%;
}
.categories .category > img {
  display: block;
  width: 50%;
  margin: auto;
}

.categories .category > h4 {
  text-transform: capitalize;
  text-align: center;
  margin-top: 7px;
}

/* ********************************* Frequently Purchased *********************************** */
.freq-purchased {
  margin-bottom: var(--mainPadding);
}

.freq-purchased > .articles {
  display: flex;
  gap: 7px;
  padding-left: 7px;
  padding-bottom: var(--mainPadding);
  overflow-x: scroll;
}

.freq-purchased > .articles > .card > img {
  display: block;
  width: 50px;
}

/* ********************************* lower nav *********************************** */
.lower-nav {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 7;
  box-shadow: 0 -3px 7px #ddd;
  display: flex;
  align-items: center;
}

.lower-nav > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  color: #808080;
}

.lower-nav > nav > i.active {
  color: #e7bc55;
  font-size: 24px;
}
